body {
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
    color:whitesmoke;
    background:rgb(42, 44, 44);
}

.aside-menu {
    position: fixed;
    top: 0;
    right: 0; 
    width: 250px;
    height: 100%;
    background-color: deeppink;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


.aside-menu.active {
    right: 0;
}


.h2 { 
    color:deeppink;
}
.close-btn {
    font-size: 24px;
    cursor: pointer;
    text-align: right;
    margin-bottom: 20px;
}

.brand {
    margin-bottom: 20px;
}

.navbar-nav .nav-item {
    margin-bottom: 15px;
}

.nav-link {
    color: #ffffff;
    transition: color 0.2s;
}

.nav-link:hover {
    color:grey;
}

.dropdown-menu {
    background-color: rgb(221, 162, 172); 
}

.dropdown-item {
    color: #fffcfc; 
}

.dropdown-item:hover {
    background-color:deeppink;
    color: #fffcfc; 
}

#carousel-photos {
    size: 10%;
}

.carousel {
    max-width: 600px; 
    margin: auto; 
}

.carousel-inner img {
    width: 100%; 
    height: auto; 
}

#textCarousel {
    color: whitesmoke;
}        

.form-control {
            max-width: 100px; 
            color: deeppink;
}