body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

.aside-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: deeppink;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.aside-menu .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.aside-menu .nav-link {
    color: whitesmoke;
    transition: color 0.3s;
    font-size: 1.2rem;
}

.aside-menu .nav-link:hover {
    color: #333;
}

#carousel-photos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-center h2 {
    color: #333;
    font-weight: bold;
    size: 1em;
    position: left;
    z-index: 1;
}


footer input.form-control {
    background-color: whitesmoke;
    color: whitesmoke;
    border: 1px solid deeppink;
}

footer button.btn-dark {
    background-color: deeppink;
    border: none;
}

footer button.btn-dark:hover {
    background-color: #ff007f;
}

footer .p-3 {
    background-color: rgba(0, 0, 0, 0.1);
}
footer {
    background-color: deeppink;
    color: #444;
    padding: 20px 0;
    margin-left: 250px;
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    animation: slideInUp 0.5s ease-in-out;
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .aside-menu {
        position: relative;
        width: 100%;
        height: auto;
    }

    #carousel-photos,
    .text-center h2,
    footer {
        margin-left: 0;
    }

    #carousel-photos .carousel-inner img {
        height: 60vh;
    }

    footer {
        text-align: center;
    }
}
