body {
    font-family: Arial, sans-serif;
    color: rgb(26, 26, 26);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.aside-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: deeppink;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: hidden;
    transition: width 0.3s ease;
}

.aside-menu:hover {
    width: 200px;
}

.aside-menu .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: left;
    transition: width 0.3s ease;
}

.aside-menu .nav-link {
    color: whitesmoke;
    font-size: 1.2rem;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
    margin-bottom: 10px;
}

.aside-menu .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}
.dropdown-item {
    color: whitesmoke;
}
.dropdown-item:hover {
    background-color: deeppink;
    color: white;
}

.text-center h2 {
    color: deeppink;
    font-weight: bold;
    font-size: 3.5rem;
}
.btn {
    background-color: deeppink;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}
.btn:hover {
    background-color: #ff007f;
    transform: scale(1.05);
}

.container-fluid {
    margin-left: 60px; 
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
.login-container h2 {
    margin-bottom: 20px;
    color: deeppink;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container .btn {
    background-color: deeppink;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.login-container .btn:hover {
    background-color: #ff007f;
}
.options {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}
.options a {
    color: deeppink;
    text-decoration: none;
}
.options a:hover {
    text-decoration: underline;
}
footer {
    color: whitesmoke;
    padding: 20px 0;
    text-align: center;
    margin-left: 250px;
}
footer input.form-control {
    background-color: whitesmoke;
    color: whitesmoke;
    border: 1px solid deeppink;
    border-radius: 5px;
}
footer button.btn-dark {
    background-color: deeppink;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
}
footer button.btn-dark:hover {
    background-color: #ff007f;
}