body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    color:whitesmoke;
    background-color: #333;
    
}

.aside-menu {
    position: fixed;
    top: 0;
    right: 0; 
    width: 250px;
    height: 100%;
    background-color: deeppink;
    padding: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.aside-menu.active {
    right: 0;
}

#title { 
    color: antiquewhite;
    font-size: 4em;
}

.h2 { 
    color: deeppink;
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
    text-align: right;
    margin-bottom: 20px;
}

.brand {
    margin-bottom: 20px;
}

.navbar-nav .nav-item {
    margin-bottom: 15px;
}

.nav-link {
    color: #ffffff;
    transition: color 0.2s;
}

.nav-link:hover {
    color: grey;
}

.dropdown-menu {
    background-color: rgb(221, 162, 172); 
}

.dropdown-item {
    color: #fffcfc; 
}

.dropdown-item:hover {
    background-color: deeppink;
    color: #fffcfc; 
}

#carousel-photos {
    size: 10%;
}

.carousel {
    width: 100%; 
    height: 100vh; 
}

.carousel-inner img {
    width: 100%;
    height: 100%; /* Asegura que las imágenes ocupen el 100% de la altura */
    object-fit: cover; /* Ajusta las imágenes sin distorsionar */
}

#textCarousel {
    color: whitesmoke;
}        

.form-control {
    max-width: 100px; 
    color: deeppink;
}

.btn-radio {
    border-radius: 50%; 
    width: 50px;
    height: 50px;
}

.btn-radio {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 14px;
    margin: 5px;
}

.form-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.btn-radio {
    border-radius: 50%; 
    width: 60px;
    height: 60px;
    font-size: 14px;
    margin: 5px;
}

.form-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.aside-menu {
    background-color: deeppink;
    padding: 15px;
    border-right: 1px solid #ddd;
}

#btn-XLR {
    border-right: 1px solid deeppink;
}

#btn-TRS {
    border-right: 5px solid deeppink;   
    background-color: antiquewhite;
    color: deeppink;
}

/* Botón para modo oscuro de la barra de navegación */
input {
    display: none;
}

/* Barra de fondo del switch */
#labelsw {
    width: 80px;
    height: 40px;
    border-radius: 999px;
    background: #F3F3F3;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 99px;
    background: rgb(255, 185, 55);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05),
    -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
    transition: 0.5s; /* Tiempo de transición entre uno y otro */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Imagen luna y sol */
svg {
    width: 16px;
    position: absolute;
}

.sun {
    color: #ffffff;
    margin-top: 0%;
    opacity: 1;
}

.moon {
    margin-top: -150%;
    color: white;
    opacity: 0;
}

input[type=checkbox]:checked + .display label .circle {
    background: #6b6b6b;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5),
    -10px -10px 30px rgba(0, 0, 0, 0.5) inset;
}

input[type=checkbox]:checked + .display label .circle .sun {
    margin-top: 150%;
    opacity: 0;
}

input[type=checkbox]:checked + .display label .circle .moon {
    margin-top: 0%;
    opacity: 1;
}

footer {
    background-color: #f0f0f0; 
    color: #333; 
    padding: 20px;
    text-align: center;
    width: 100%; 
    position: relative;
    bottom: 0;
}

footer input {
    background-color: #444;
    color: deeppink;
    border: 1px solid deeppink;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
}

footer button {
    background-color: deeppink;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

footer button:hover {
    background-color: #ff007f;
}

footer p {
    font-size: 14px; 
    margin-top: 10px;
    color: black;
}


.suscribe-email {
    color: black;

}